CleanArchitecture/.vs
QuickSilver/.idea
MSWebPlayground/.idea
CMSTraining/.idea/.idea.CMSTraining/.idea/.gitignore
CMSTraining/.idea/.idea.CMSTraining/.idea/indexLayout.xml
CMSTraining/.idea/.idea.CMSTraining/.idea/vcs.xml
CMSTraining/.idea/config/applicationhost.config
