@using AlloyTraining.Business.ExtensionMethods
@using EPiServer.Core
@model AlloyTraining.Models.ViewModels.IPageViewModel<AlloyTraining.Models.Pages.SitePageData>
<ul>
    <li>
        @Html.ContentLink(ContentReference.StartPage)
        <ul>
            @foreach (var page in Model.MenuPages)
            {
                <li>@Html.ContentLink(page.ContentLink)</li>
            }
        </ul>
    </li>
    <li>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/en/logout">Log out @User.Identity.Name</a>
        }
        else
        {
            <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Model.CurrentPage.PageLink.ExternalURLFromReference()">Log in</a>
        }
    </li>
</ul>