@model AlloyTraining.Models.ViewModels.IPageViewModel<AlloyTraining.Models.Pages.SitePageData>
@{
    // nest the left navigation inside the root layout
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}
<div class="row">
    <div class="span4">
        @RenderSection("_LeftNavigationMenu", false)
    </div>
    <div class="span8">
        @RenderBody()
    </div>
</div>